<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.homeassistantoff">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeAssistantOff">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.HomeAssistantOff.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pager.ViewPagerActivity"
            android:exported="true"
            android:parentActivityName=".collectedData.CollectedDataActivity" />
        <activity
            android:name=".collectedData.CollectedDataActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".movement.MovementActivity"
            android:exported="true"
            android:label="@string/title_activity_movement"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".rangedImages.RangedImagesActivity"
            android:exported="true"
            android:label="@string/title_activity_rangedImages"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".temperature.TemperatureActivity"
            android:exported="true"
            android:label="@string/title_activity_temperature"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".humidity.HumidityActivity"
            android:exported="true"
            android:label="@string/title_activity_humidity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gasSmoke.GasSmokeActivity"
            android:exported="true"
            android:label="@string/title_activity_gas_smoke"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".Messaging.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".HARequest.HARequestAlarmReceiver"
            tools:ignore="Instantiatable" />
    </application>

</manifest>